h1 {
 font-size: 30px;
}

h3 {
 font-size: 25px;
}


.num {
 font-size: 36px;
}

.heart {
 background: url('../img/heart.png') top center no-repeat;
 background-size: 100px;
 height: 98px;
 width: 56px;
 margin-top: -12px;
}

.heart h2 {
 margin-top: 26px;
}

.score {
 font-size: 20px;
}

.navbar-brand small {
 color: rgba(255, 255, 255, .5);
}

.heading {
 background-color: #009788;
 padding-top: 20px;
}

.hero,
.question {
 min-height: calc(100vh - 168px);
 background-color: #009788;
}

.hero img {
 display: block;
 width: 40%;
}

.hero h3 {
 margin-top: 30px;
 margin-bottom: 24px;
}

.question {}

.question p {
 margin-bottom: 40px;
}

.question-img {
 width: 100%;
 margin-top: -20px;
}

.form-wrapper {
 margin-top: -27px;
}

#passForm {
 position: absolute;
 right: 16px;
 bottom: 0;
}

.form-control {
 border-radius: 30px;
 padding: 25px 0 25px 12px;
 border: solid 2px #fff;
 background-color: rgba(255, 255, 255, 0.7);
 color: #333;
}

.form-control:focus {
 background-color: rgba(255, 255, 255, 0.7);
 color: #333;
 border-color: #fff;
 box-shadow: none;
}

.btn {
 border-radius: 15px;
 padding: 10px 30px;
 border: solid 2px #fff;
}

.btn-primary {
 background-color: #0062cc;
}

.btn-primary.btn-pass {
 background-color: #a603e6;
}

.btn-warning {
 background-color: #ffa905;
 color: #fff;
}

.game-over {
 margin: 20px 0;
}

footer {
 background-color: #343a40;
 padding-top: 36px;
}

/*sm*/
@media (min-width: 576px) {}

/*md*/
@media (min-width: 768px) {
 .question-img {
  width: 60%;
 }
}

/*lg*/
@media (min-width: 992px) {

}

/*xl*/
@media (min-width: 1200px) {
 .question-img {
  width: 50%;
 }
}
