{% extends 'base.html' %}

{% block content %}

<section class="heading">
  <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <h1 class="text-center">Welcome To Flask Game</h1>
            </div>
        </div>
    </div>
</section>

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img src="{{ url_for('static', filename='img/hero1.jpg') }}" class="img-fluid mx-auto">
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-center">{{ user }}</h3>
      </div>
    </div>
        
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6">
        <form novalidate method="POST" name="userForm" id="userForm">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label class="sr-only">Username</label>
              <input type="text" class="form-control" placeholder="Username" name="username" id="name" required autofocus>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Let's Go!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
    

{% endblock %}


{% block javascript  %}

{% endblock %}