{% extends 'base.html' %}

{% block content %}

<section class="heading" style="background-color:#{{ bg }}">
  <div class="container">
        <div class="row">
            <div class="col-4">
              <h1 class="text-center num">Q{{ questionNum }}</h1>
            </div>
            
            <div class="col-4 heart">
              <h2 class="text-center life"><span>{{ lives }}<span class="minus">-1</span></span></h2>
            </div>
            
            <div class="col-4">
              <h3 class="text-center score"><span>Score<br>{{ score }} <span class="plus">+50</span></span></h3>
            </div>
        </div>
    </div>
</section>

{% block inner %}

{% endblock %}

{% endblock %}



{% block javascript  %}
<script>
  function changeColor() {
    $('.heading').css({"background-color": "transparent"});
  }
  
  function moveScore() {
    $('.plus').addClass('move-score');
  }
  
  function moveLife() {
    $('.minus').addClass('move-life');
  }
  
  setTimeout (changeColor, 1250);
  
  var bg = {{ bg | tojson }};
  
  if ( bg == "4cff95" ) {
    setTimeout ( moveScore, 300 );
  } else if ( bg == "FF4D4C" ) {
    setTimeout ( moveLife, 300 );
  }

  
</script>
{% endblock %}