{% extends 'base.html' %}

{% block content %}

<section class="heading" style="background-color:#{{ bg }}">
  <div class="container">
        <div class="row">
            <div class="col-4">
              <h1 class="text-center">Q{{ questionNum }}</h1>
            </div>
            
            <div class="col-4">
              <h2 class="text-center">{{ lives }}</h2>
            </div>
            
            <div class="col-4">
              <h3 class="text-center">Score<br>{{ questionsScore }}</h3>
            </div>
        </div>
    </div>
</section>

{% block inner %}

{% endblock %}

{% endblock %}



{% block javascript  %}

{% endblock %}